<div class="row g-3">
                              {% for product in products %}
                                <div class="col-6 col-xl-3">
                                    <div class="card border-secondary h-auto fruite-item position-relative">
                                        <a href="product-detail.html" class="stretched-link"></a>
                                        {% if product.product_image %}
                                        <div class="position-relative">
                                            <img src="{{ product.product_image.url }}" class="card-img-top img-fluid"
                                                style="height: 200px; width: 100%; object-fit: cover;" alt="{{ product.product_name }}">
                                            <span class="badge bg-secondary position-absolute top-0 start-0 m-2">Fruits</span>
                                        </div>
                                        {% endif %}
                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title text-center">{{ product.product_name }}</h5>
                                            <div class="mt-auto">
                                                <p class="text-dark fs-7 fw-bold mb-3 text-center">
                                                    <span style="font-size: 0.8em;">&#x09F3;</span> {{ product.product_price }}
                                                </p>
                                                <div class="icon-class pt-2 d-flex justify-content-center justify-content-md-between gap-1">
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm position-relative z-1 rounded hover-effect-shop">
                                                        <i class="bi bi-heart text-primary"></i>
                                                    </a>
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm text-primary position-relative z-1 hover-effect-shop">
                                                        <i class="bi bi-bag-plus-fill text-primary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>