{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Shop Start-->
    <div class="container-fluid fruite">
        <div class="container py-3">
            <!-- <h3 class="mb-4 btn btn-lg btn-secondary">Shop Product</h3> -->
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="row g-4">

                        <div class="col-lg-2">
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="mb-3">
                                        <h4>Categories</h4>
                                       
                                        <ul id="categoryTarget" class="list-unstyled fruite-categorie" hx-get="{% url 'htmx_category' %}" hx-trigger="load"
                                            hx-target="#categoryTarget" hx-swap="innerHTML">
                                            <!-- This content will be replaced via HTMX -->
                                            <li>Loading...</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <h4 class="mb-3">Featured products</h4>
                                
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="{% static 'img/featur-1.jpg' %}" class="img-fluid rounded" alt="Big Banana 1">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="{% static 'img/featur-2.jpg' %}" class="img-fluid rounded" alt="Big Banana 2">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="d-flex align-items-center justify-content-start">
                                        <div class="rounded me-4" style="width: 100px; height: 100px;">
                                            <img src="{% static 'img/featur-3.jpg' %}" class="img-fluid rounded" alt="Big Banana 3">
                                        </div>
                                        <div>
                                            <h6 class="mb-2">Big Banana</h6>
                                            <div class="d-flex mb-2">
                                                <h5 class="fw-bold me-2">2.99 $</h5>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="d-flex justify-content-center my-4">
                                        <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">
                                            View More
                                        </a>
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="section-title pb-3">
                                <!-- The decorative vertical bar -->
                                <span class="title-bar"></span>
                                <!-- The heading text -->
                                <!-- <h2 class="title-text">Search By "Our Shop"</h2> -->
                                <h2 class="title-text">Search By "all product"</h2>
                            </div>
                            <div id="productShow" class="row g-3"
>
                            {% for product in products %}
                                <div class="col-6 col-xl-3">
                                    <div class="card border-secondary h-auto fruite-item position-relative">
                                        <a href="product-detail.html" class="stretched-link"></a>
                                        {% if product.product_image %}
                                        <div class="position-relative">
                                            <img src="{{ product.product_image.url }}" class="card-img-top img-fluid"
                                                style="height: 200px; width: 100%; object-fit: cover;" alt="{{ product.product_name }}">
                                            <span class="badge bg-secondary position-absolute top-0 start-0 m-2">Fruits</span>
                                        </div>
                                        {% endif %}

                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title text-center">{{ product.product_name }}</h5>
                                            <div class="mt-auto">
                                                <p class="text-dark fs-7 fw-bold mb-3 text-center">
                                                    <span style="font-size: 0.8em;">&#x09F3;</span> {{ product.product_price }}
                                                </p>
                                                <div class="icon-class pt-2 d-flex justify-content-center justify-content-md-between gap-1">
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm position-relative z-1 rounded hover-effect-shop">
                                                        <i class="bi bi-heart text-primary"></i>
                                                    </a>
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm text-primary position-relative z-1 hover-effect-shop">
                                                        <i class="bi bi-bag-plus-fill text-primary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-6 col-xl-3">
                                    <div class="card border-secondary h-auto fruite-item position-relative">
                                        <a href="product-detail.html" class="stretched-link"></a>
                                        {% if product.product_image %}
                                        <div class="position-relative">
                                            <img src="{{ product.product_image.url }}" class="card-img-top img-fluid"
                                                style="height: 200px; width: 100%; object-fit: cover;" alt="{{ product.product_name }}">
                                            <span class="badge bg-secondary position-absolute top-0 start-0 m-2">Fruits</span>
                                        </div>
                                        {% endif %}

                                        <div class="card-body d-flex flex-column">
                                            <h5 class="card-title text-center">{{ product.product_name }}</h5>
                                            <div class="mt-auto">
                                                <p class="text-dark fs-7 fw-bold mb-3 text-center">
                                                    <span style="font-size: 0.8em;">&#x09F3;</span> {{ product.product_price }}
                                                </p>
                                                <div class="icon-class pt-2 d-flex justify-content-center justify-content-md-between gap-1">
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm position-relative z-1 rounded hover-effect-shop">
                                                        <i class="bi bi-heart text-primary"></i>
                                                    </a>
                                                    <a href="#"
                                                        class="btn border border-secondary btn-lg btn-xs-sm text-primary position-relative z-1 hover-effect-shop">
                                                        <i class="bi bi-bag-plus-fill text-primary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
        
                                


                            </div>
                            <div class="pagination d-flex justify-content-end mt-3">
                                            <a href="#" class="rounded">&laquo;</a>
                                            <a href="#" class="active rounded">1</a>
                                            <a href="#" class="rounded">2</a>
                                            <a href="#" class="rounded">3</a>
                                            <a href="#" class="rounded">4</a>
                                            <a href="#" class="rounded">5</a>
                                            <a href="#" class="rounded">6</a>
                                            <a href="#" class="rounded">&raquo;</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop End-->
{% endblock %}