{% load static %}
<!-- category start -->
    <div class="container middle-nav-carousel mt-4 position-relative">
        <div class="d-flex align-items-center">
            <span class="title-bar"></span>
            <h2 class="mb-0 text-color-change" style="margin-left:1%;">Category</h2>
        </div>
    
        <div class="owl-carousel owl-theme pt-3">
    
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            <!--  -->
            <div class="card align-items-center pt-2 border-primary category-card mb-0">
                <img src="{% static 'img/1737531358122.jpeg' %}" class="card-img-top img-fluid rounded-circle"
                    style="width: 80%;" alt="Product 8">
                <div class="card-body text-center mx-auto pt-1 position-relative">
                    <a href="./cart.html" class="text-dark stretched-link text-center small-link">
                        another view view view
                    </a>
                </div>
            </div>
            
    
            <!-- Repeat this structure for all other cards -->
        </div>
    </div>
    <!-- category end -->